.container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  color: #5cb85c;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 30px;
}