table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 30px;
  margin-bottom: 50px;
}

th,
td {
  border: none;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #5cb85c;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}

tr:hover {
  background-color: #e0e0e0;
}
